@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This is a project which creates a ASP.Net Core application and deploys it in a Docker container.</p>
